@media (min-width: 740px) and (max-width: 1023px) {
}
@media (max-width: 740px) {
    .category{
        padding-left: 0;
    }
  .buttons {
    flex-direction: column;
    button{
      width: 110px;
    }
    .more {
      margin-top: 30px ;
    }
  }
}
